body {
	background-color: #eaeaea;
	}

hr {
	background-color: #eaeaea;
	border-style: none;
	border-top-style: dotted;
	height: 0px;
	border-width: 2px;
	border-color: black;
	width: 10%;

	}
.box {
 	background-color: rebeccapurple;
  	border-radius: 10px;
  	width: 100px;
 	height: 100px;
  	animation-name: slidein;
  	animation-duration: 1s;
	}

@keyframes slidein {
  	from {
    	transform: translateX(0%);
  		}
  	to {
    	transform: translateX(100%);
  		}
	}
h1 {
	color: darkred;
    	font-family: Bogart,Recoleta,Helvetica Neue;
    	font-size: 3.5em;
    	letter-spacing: -1.5px;
    	line-height: 110%;
    	margin: 0;
    	transition: all .2s ease-in-out;
}

h2 {
	color: #66bfbf;
}
img {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
/*****************************CLASS SELECTORS************************/
.top-container {
	position: relative;
	top: 16px;
}
.red {
	background-color: red;
	height: 100px;
	width: 200px;
	position: relative;
	left: 1200px;
	bottom: 600px;
}

.yellow {
	background-color: yellow;
	height: 100px;
	width: 200px;
	position: relative;
	left: 800px;
	bottom: 400px;

}
.blue {
	background-color: blue;
	height: 100px;
	width: 200px;
	position: relative;
	left: 400px;
	bottom: 200px;
}

.violet {
	background-color: violet;
	height: 100px;
	width: 200px;
}

.indigo {
	background-color: indigo;
	height: 100px;
	width: 200px;
	position: relative;
	left: 200px;
	bottom: 100px;
}

.green {
	background-color: green;
	height: 100px;
	width: 200px;
	position: relative;
	left: 600px;
	bottom: 300px;
}

.orange {
	background-color: orange;
	height: 100px;
	width: 200px;
	position: relative;
	left: 1000px;
	bottom: 500px;
}

